* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto", sans-serif;
  background-image: url(./images/photod-removebg-preview.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #353537;
  background-size: cover;
  height: 100vh;
}

.container .side-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 8%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #4a4a4a;
  min-height: 100vh;
}

.container .side-bar .burger {
  width: 100%;
  height: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #4a4a4a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .side-bar .burger .burger-btn {
  width: 23px;
  height: 23px;
}

.container .side-bar .social-media .media-icon {
  display: block;
  width: 23px;
  height: 23px;
  margin: 1rem;
}

.container section {
  width: 92%;
}

.container section .nav {
  min-height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.container section .nav .logo {
  font-size: 36px;
  font-weight: 600;
  color: #fff;
}

.container section .nav .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container section .nav .nav-items .nav-link {
  text-decoration: none;
  color: #fff;
  margin: 0 1rem;
  padding: 0.5rem 0;
  font-size: 14px;
  position: relative;
}

.container section .nav .nav-items .nav-link:hover {
  color: #736c66;
}

.container section .nav .nav-items .nav-link::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #736c66;
  position: absolute;
  bottom: 0;
  left: 50%;
  border-radius: 10px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.container section .nav .nav-items .nav-link:hover::after {
  left: 0%;
  width: 100%;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.container section .nav .nav-items .search-icon {
  width: 24px;
  margin-left: 1rem;
}

.container section .content {
  min-height: 88vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container section .content .content-title {
  margin-left: 1.5rem;
}

.container section .content .content-title .title {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0.5rem;
}

.container section .content .content-title .border {
  display: block;
  width: 250px;
  height: 1px;
  border-radius: 5px;
  background-color: #aaaaaa;
}

.container section .content .content-title .text-title {
  margin-top: 0.5rem;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
}

.container section .content .content-title .text-items {
  color: #736c66;
  font-size: 12px;
  font-weight: 500;
  line-height: 25px;
}

.container section .content .paragraph {
  width: 50%;
}

.container section .content .paragraph .paragraph-title {
  font-size: 64px;
  font-weight: 600;
  color: #fff;
}

.container section .content .paragraph .paragraph-text {
  color: #c4c4c4;
  letter-spacing: 1px;
  width: 80%;
  line-height: 27px;
}

.container section .content .paragraph .paragraph-text .border-under {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .container .side-bar {
    min-height: 80vh;
  }
  .container section {
    min-height: 100vh;
  }
  .container section .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container section .nav-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container section .content {
    display: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container section .content .paragraph {
    width: 100%;
    text-align: center;
  }
  .container section .content .paragraph .paragraph-title {
    font-size: 24px;
  }
  .container section .content .paragraph .paragraph-text {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */