* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    font-family: "Roboto", sans-serif;
    background-image: url(./images/photod-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #353537;
    background-size: cover;
    height: 100vh;
    .side-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 8%;
        align-items: center;
        border-right: 1px solid #4a4a4a;
        min-height: 100vh;
        .burger {
            width: 100%;
            height: 100px;
            justify-content: center;
            background-color: #4a4a4a;
            display: flex;
            align-items: center;
            .burger-btn {
                width: 23px;
                height: 23px;
            }
        }
        .social-media {
            .media-icon {
                display: block;
                width: 23px;
                height: 23px;
                margin: 1rem;
            }
        }
    }
    section {
        width: 92%;
        .nav {
            min-height: 6vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            .logo {
                font-size: 36px;
                font-weight: 600;
                color: #fff;
            }
            .nav-items {
                display: flex;
                justify-content: flex-end;
                .nav-link {
                    text-decoration: none;
                    color: #fff;
                    margin: 0 1rem;
                    padding: 0.5rem 0;
                    font-size: 14px;
                    position: relative;
                }
                .nav-link:hover {
                    color: #736c66;
                }
                .nav-link::after {
                    content: "";
                    width: 0;
                    height: 3px;
                    background-color: #736c66;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    border-radius: 10px;
                    transition: all 500ms ease;
                }

                .nav-link:hover::after {
                    left: 0%;
                    width: 100%;
                    transition: all 500ms ease;
                }
                .search-icon {
                    width: 24px;
                    margin-left: 1rem;
                }
            }
        }
        .content {
            min-height: 88vh;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .content-title {
                margin-left: 1.5rem;
                .title {
                    font-size: 18px;
                    font-weight: 600;
                    color: #fff;
                    margin-bottom: 0.5rem;
                }
                .border {
                    display: block;
                    width: 250px;
                    height: 1px;
                    border-radius: 5px;
                    background-color: rgb(170, 170, 170);
                }
                .text-title {
                    margin-top: 0.5rem;
                    color: #fff;
                    font-size: 22px;
                    font-weight: 700;
                }
                .text-items {
                    color: #736c66;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 25px;
                }
            }
            .paragraph {
                width: 50%;
                .paragraph-title {
                    font-size: 64px;
                    font-weight: 600;
                    color: #fff;
                }
                .paragraph-text {
                    color: #c4c4c4;
                    letter-spacing: 1px;
                    width: 80%;
                    line-height: 27px;
                    .border-under {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .container {
        .side-bar {
            min-height: 80vh;
            
        }
        section {
            min-height: 100vh;
            .nav {
                flex-direction: column;
            }
            .nav-items {
                flex-direction: column;
            }
            .content {
                display: unset;
                flex-direction: column;

                .paragraph {
                    width: 100%;
                    text-align: center;
                    .paragraph-title {
                        font-size: 24px;
                    }
                    .paragraph-text {
                        width: 100%;
                    }
                }
            }
        }
    }
}
